@model IEnumerable<TpFinal.Models.VHeroDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index Avec La vue</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>

        <tr>
            <th>Nom du Héro</th>
            <th>Type de Pouvoir</th>
            <th>Description</th>
            <th>Date de Naissance</th>
            <th>Age</th>
            <th>Nom du Duo</th>
            <th>Comic</th>
            <th>Date du Comic</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.HeroName</td>
                <td>@item.PouvoirType</td>
                <td>@item.PouvoirDescription</td>
                <td>@item.DateNaissance.ToString("d")</td>
                <td>@item.Age</td>
                <td>@item.DuoName</td>
                <td>@item.ComicsName</td>
                <td>@item.ComicsDate</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.HeroId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.HeroId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.HeroId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
